*{
  margin: 0;
    padding: 0;
}

.head{
    background-color: #cfd8e1;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
.upcon{
    height: 350px;
    box-sizing: border-box;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    padding: 20px;

}

.headtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 50px;
}

.lefttext {
    height: 8px;
    width: 100px;
    border-radius: 2px;
    background-color: #4b4b4b;
}
.righttext{
    height: 8px;
    width: 50px;
    border-radius: 2px;
    background-color: #4b4b4b;
}
.headicons{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    box-sizing: border-box;
    justify-content: center;
}
.square{
    height: 200px;
    width: 200px;
    background-color: #4b4b4b;
    border-radius: 8px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    background-color: #4b4b4b;
    padding: 50px;
    box-sizing: border-box;
}
.roundtext{
    color: #cfd8e1;
}
.round{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #cfd8e1;
    margin-bottom: 30px;
}
.twocon {
    box-sizing: border-box;
border: 1px solid dodgerblue;
    padding: 50px;
    width: 260px;
}
.container{
    box-sizing: border-box;
    width: 260px;
    padding: 50px;
}
.footer{
    height: 100px;
    background-color: #cfd8e1;
}

