@media screen and (max-width: 535px) {
    .middle{
        border: 1px solid red;
        display: flex;
        flex-direction: column;
    }

    .products__list {
        display: flex;
        flex-direction: column;
    }
    }